name: Release

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: 'nightly'
        type: choice
        options:
        - nightly
        - "%date"

env:
  KICK_VERSION: "${{github.event.inputs.version}} || nightly"
  RUST_LOG: kick=trace

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - {os: windows-latest, method: zip}
        - {os: macos-latest, method: gzip}
        - {os: ubuntu-latest, method: gzip}
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
    - uses: Swatinem/rust-cache@v2
    - run: cargo build --release
    - run: cargo run --release -- ${{matrix.method}} --output dist
    - uses: actions/upload-artifact@v4
      with:
        name: dist-${{matrix.os}}
        path: dist

  publish:
    permissions: write-all
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v7
      with: {name: dist-macos-latest, path: dist}
    - uses: actions/download-artifact@v7
      with: {name: dist-windows-latest, path: dist}
    - uses: actions/download-artifact@v7
      with: {name: dist-ubuntu-latest, path: dist}
    - uses: udoprog/kick@nightly
    - run: kick gh release --upload "dist/*" --github-action
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
